
<div class="col-xs-3">
  <% if current_user %>
  <%= render partial: 'homeprofile', locals: { user: current_user } %>
  <% end %>
</div>

<div class="col-xs-6">
  <div class="view_squawks">
    <%= render partial: 'squawk', collection: @squawks %>
  </div>
  <%= paginate @squawks %>
</div>

<div class="col-xs-3">
  <% @who_to_follow.each do |user| %>
    <%= render partial: 'who_to_follow', locals: { user: user } %>
  <% end %>
</div>
